{% extends "base.html" %}

{% block page_content %}

<h2>Libro</h2>
<a href="/book" class="btn btn-success float-right">Agregar nuevo libro</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Book's name</th>
        <th scope="col">author's id</th>
        <th scope="col">author's name</th>
        <th scope="col">last name</th>
        <th scope="col">post date</th>
        <th scope="col">id book</th>
        <th scope="col">edition</th>
        <th scope="col">no_page</th>

        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <th scope="row">{{line[0]}}</th>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>{{line[6]}}</td>
        <td>{{line[7]}}</td>
        <td>
            <a href="/update/{{line[5]}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/delete/{{line[5]}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
